<!DOCTYPE html>
<html lang="es">
	<head>
	  	<meta charset="utf-8">
	  	<title>Whatsapp Web</title>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="shortcut icon" href="/image/favicon.png" type="image/png">
	  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500" media="all">
	  	<script src="/js/jquery-3.5.1.min.js"></script>
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<Script src="/js/bootstrap.bundle.min.js"></SCript>
	  	<link href="/css/icomoon.css" rel="stylesheet">
	  	<link href="/css/font-awesome.min.css" rel="stylesheet">
	  	<link href="/css/main.css" rel="stylesheet">
	  	<link href="/css/queries.css" rel="stylesheet">
	</head>
	<body>
		<div class="w-app">
			<div class="container">
				<section class="col w-contacts w-messages">
					<header class="w-chat-messages clearfix">
						<div class="avatar col-9 w-chat-profile">
							<img src="image/logocodeacademy.png" alt="">
							<h4 class="w-contact-name">road to MC`donalds</h4>
							<ul class="w-users-messages">
								<!-- agregar personas conectadas-->
							</ul>
	  				</header>
	  				<section class="w-chat-panel">
	  					<div class="w-message-list clearfix" id="chat">
	  					</div>
	  				</section>
	  				<footer class="pane-footer w-write-message-footer">
	  					<ul class="w-write-message-list clearfix">
								<div class="row">
									<div class="col-1">
										<li class="w-write-message-item icon-insert_emoticon w-write-message-icon"></li>
									</div>
									<div class="col-9">
										<li class="w-write-message-item w-write-message-input">
										<input type="text" name="w-message-input" class="w-write-message-field" placeholder="Escribe tu mensaje aquí" id="mensajes">
									</div>
									<div class="col-1">
										<li class="w-write-message-item icon-mic w-write-message-icon"></li>
									</div>
								</div>
	  						</li>
	  					</ul>
	  				</footer>
	  			</section>
	  		</div>
	  	</div>
			<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
			<script>
				const socket = io('http://localhost:8000');
				$(document).ready(function (){
					socket.on('msg', function(data) {
					
			
					});
				});
			</script>
	</body>
</html>